<div class="ui container center aligned footer">
    <p>BloggApp, ver. 0.9.1 Разработано: Кирилл Макеев &copy; 2018<br>+7 (915) 170-80-60</p>
</div>

<script type="text/javascript">
// Animation on load for all Columns using Velocity JS
$(".column").each(function(i){
    $(this).delay( 200 * i ).queue(function(next){
        $(this).velocity({
            properties: { opacity: 1 },
            options: { duration: 1000 }
        });
        next();
    });
});

// Modal (adding post and photo post)
$(".modalbutton").click(function(){
    $(".ui.modal").modal("show");
});

// Close X button
$(".closemodal").click(function(){
    $(".ui.modal").modal("hide");
});
</script>
</body>
</html>