<div class="ui container center aligned footer">
    <p>BloggApp, ver. 0.2.0. Разработано: Кирилл Макеев &copy; 2018</p>
</div>

<script type="text/javascript">
$("body").animate({
    opacity: 1.0,
    marginRight: 0
}, 500, function(){
    $(".column").each(function(i){
        $(this).delay(100 * i).queue(function(nxt) {
    		$(this).animate({
    		    opacity: 1.0
    		}, 1000, function(){});
    		nxt();
        })
    });
});

$(".modalbutton").click(function(){
    $(".ui.modal").modal("show");
});

$(".closemodal").click(function(){
    $(".ui.modal").modal("hide");
});
</script>
</body>
</html>