<html>
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>BloggApp by Kirill Makeev</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</head>
<body>
<div class="ui stackable top attached text menu">
    <div class="item">
        <i class="address card outline icon"></i> <span id="welcome">Добро пожаловать!</span>
    </div>
    <div class="item">
        <a href="/">Главная</a>
    </div>
    <div class="item">
        <a href="/blog">Блог</a>
    </div>
    <div class="item">
        <a href="/photoblog">Фотографии</a>
    </div>
    <div class="right menu">
        <div class="item">
            <a href="#">Войти</a>
        </div>
        <div class="item">
            <a href="#">Зарегистрироваться</a>
        </div>
        <div class="item">
            <a href="#">Выйти</a>
        </div>
    </div>
</div>