<html>
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%= site.title %></title>
    <meta name="decription" content="<%= site.description %>">
    
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.min.js"></script>
</head>
<body>
<div class="ui stackable top attached text menu">
    <div class="item">
        <i class="address card outline icon"></i> <span id="welcome"><% if(currentUser){ %>Привет, <%= currentUser.name %>!<% } else { %>Добро пожаловать!<% } %></span>
    </div>
    <div class="item">
        <a href="/">Главная</a>
    </div>
    <div class="item">
        <a href="/blog">Блог</a>
    </div>
    <div class="item">
        <a href="/photoblog">Фотографии</a>
    </div>
    <div class="right menu">
        <% if(currentUser){ %>
        <div class="item">
            <a href="/logout">Выйти</a>
        </div>
        <% } else { %>
        <div class="item">
            <a href="/login">Войти</a>
        </div>
        <div class="item">
            <a href="/register">Зарегистрироваться</a>
        </div>
        <% } %>
    </div>
</div>