<% include ../partials/header %>

<div class="ui container">
    <div class="ui placeholder segment center aligned">
        <h1 class="ui center aligned icon header">
            <i class="camera circular icon"></i>
            <p>Фотографии</p>
        </h1>
        <p>
            Периодически балуюсь кнопконажимательством.<br> Вся моя безвкусица чуть ниже. Листай, не стесняйся.
        </p>
        <button class="ui green basic button modalbutton">Добавить фото</button>
    </div>
    
    <!-- Photos grid -->
    <div class="ui piled segment">
        <div class="ui stackable doubling four column grid">
            <div class="column">
                <div class="ui segment photo">
                    <div class="ui fluid image">
                        <img src="https://preview.ibb.co/gzc2mz/IMG_2027.jpg">
                    </div>
                    <p>ВДНХ, отель "Космос", вид с 23 этажа.</p>
                    <p>15 Сентября 2018</p>
                </div>
            </div>
            
            <div class="column">
                <div class="ui segment photo">
                    <div class="ui fluid image">
                        <img src="https://preview.ibb.co/gzc2mz/IMG_2027.jpg">
                    </div>
                    <p>ВДНХ, отель "Космос", вид с 23 этажа.</p>
                    <p>15 Сентября 2018</p>
                </div>
            </div>
            
            <div class="column">
                <div class="ui segment photo">
                    <div class="ui fluid image">
                        <img src="https://preview.ibb.co/gzc2mz/IMG_2027.jpg">
                    </div>
                    <p>ВДНХ, отель "Космос", вид с 23 этажа.</p>
                    <p>15 Сентября 2018</p>
                </div>
            </div>
            
            <div class="column">
                <div class="ui segment photo">
                    <div class="ui fluid image">
                        <img src="https://preview.ibb.co/gzc2mz/IMG_2027.jpg">
                    </div>
                    <p>ВДНХ, отель "Космос", вид с 23 этажа.</p>
                    <p>15 Сентября 2018</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end Photos grid -->
    
</div>

<% include ../partials/footer %>