<% include ./partials/header %>

<div class="ui container">
    <div class="ui placeholder segment center aligned">
        <img class="ui centered medium circular image" src="https://farm2.staticflickr.com/1920/45432377651_3e1b0a99cd_k.jpg">
        <h1>КИРИЛЛ МАКЕЕВ</h1>
        <h3>Web Developer</h3>
        <h4>M(ongoDB), E(xpress), <span id="grayedout">(R(eactJS) || A(ngularJS))</span>, N(ode.JS)</h4>
        <h6>Bootstrap, Semantic UI</h6>
    </div>
</div>

<% include ./partials/footer %>