<% include ./partials/header %>

<div class="ui container">
    <div class="ui placeholder segment center aligned">
        <img class="ui centered medium image" src="https://preview.ibb.co/ctv5PK/IMG_2126.jpg">
        <h1>КИРИЛЛ МАКЕЕВ</h1>
        <h3>Web Developer</h3>
        <h4>M(ongoDB), E(xpress), <span id="grayedout">A(ngular)</span>, N(ode.JS)</h4>
        <h6>Bootstrap, Semantic UI</h6>
    </div>
</div>

<% include ./partials/footer %>