<% include ./partials/header %>

<div class="ui container">
    <form class="ui form login" action="/register" method="POST">
        <div class="field">
            <h1>Регистрация:</h1>
            <p>Пожалуйста, заполните все поля</p>
        </div>
        <div class="field">
            <input type="text" name="name" placeholder="Ваше имя"  required>
        </div>
        <div class="field">
            <input type="text" name="username" placeholder="Логин" required>
        </div>
        <div class="field">
            <input type="password" name="password" placeholder="Пароль" required>
        </div>
        <div class="field">
            <button class="ui basic violet button">Зарегистрироваться</button>
        </div>
    </form>
</div>

<% include ./partials/footer %>