/* Header */
#welcome {
    padding-left: 10px;
}

.top .icon {
    font-size: 25px;
    padding-left: 10px;
}

/* Main Styles */
body {
    opacity: 0;
    margin-right: 10px;
}
.container {
    margin-top: 20px;
}
.column {
    opacity: 0;
}
.column .segment {
    transition: 0.2s ease-in;
}
.column .segment:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 30px 0.2px lightgray;
    cursor: pointer;
}

.close.icon {
    color: #999;
    float: right;
    cursor: pointer;
}

a.postlink {
    color: #000;
}

a.postlink:hover {
    color: #000;
}

.backbutton {
    text-align: center;
}

/* Landing Page */
#grayedout {
    color: gray;
    opacity: 0.2;
}

/* Blog Page */
.ui .modal {
    padding: 20px;
}

/* Photo Page */

.ui.segment.photo {
    padding: 0;
}

.ui.segment.photo p {
    padding: 10px;
}

/* Footer */
.footer {
    padding-bottom: 25px;
}